.announcement {
  font-weight: bold;
  font-size: 24px;
  padding: 48px;
  margin: 0 auto;
  text-align: center;
}

.announcementDark {
  background-color: #20232a;
  color: #fff;
}

.announcementInner {
  margin: 0 auto;
  max-width: 768px;
}
